
<!--
/me/ and /me/index.html is exactly same thing. 
If just write "/", It's mean the root directory of _site
-->

<header>
    <nav class = "categories">

        <h1> Categories </h1>
        <ul class = "lists">
            <li><a href = "/">All</a></li>
            <li><a href = "/">Design pattern</a></li>
            <li><a href = "/">Computer Graphics</a></li>
            <li><a href = "/">Math</a></li>
            <li><a href = "/">Linear Algebra</a></li>
            <li><a href = "/">Dev Tips</a></li>
            <li><a href = "/">etc</a></li>
        </ol>

    </nav>
</header>